<h1>More successful online dating. Guaranteed.</h1>

<p>Our online dating experts help you improve your online dating profile to find the match you deserve.</p>
<p>And don’t just take our word for it--hear directly from other singles about what you’re projecting online, and help other singles optimize their online profiles while you’re at it!</p>

<center><%= image_tag "puzzle.png" %></center>

<ol>
  <li>Get tips and recommendations from our expert on how to tweak your profile for maximum results.</li>
  <li>Find out how strangers perceive you based on your online profile. Help others in the community optimize their profiles as well.</li>
</ol>

<p>It works with Match.com, Chemistry.com, OKCupid.com, and most other online dating profiles. <strong>If you don’t get more inbound messages and a higher response rate within 30 days, we’ll refund your money, guaranteed.</strong></p>
<p>Hear from experts and our community to present the best ‘you’ online, guaranteed, for just $19.99 (usually $39.99)</p>
<p><a href="/orders/new" class="myButton">Buy now for just $19.99</a></p>

<h2>How it works</h2>

<ul><li>Copy and paste the web address for your online profile into our simple web form, <a href="/orders/new">here</a> (the form takes less than 30 seconds)</li>
  <li>We’ll email you the profiles of five other singles in our community who are looking to better understand how they project themselves online.</li>
  <li>Click on each of the links, read each profile, and honestly answer 3 easy questions (it takes about a minute per profile, and it’s fun!)</li>
  <li>Our experts will review your profile and send you professional feedback via email. Things like: which profile photo is likely to attract the most interest? Where should I write more (or less)? Which of my answers will probably generate the most interest, and which will turn people away? </li>
  <li>You’ll also get honest feedback from at least 5 singles about what image you’re projecting online. How do you come across to people who read your profile? Which of your photos would be best for your main profile photo? Are there any ‘profile red flags’?</li>
</ul>
<p><a href="/orders/new" class="myButton">Successful dating for just $19.99</a></p>
